.popup {
    height: 50% !important;
}

.labelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader {
    margin-bottom: 15px;
    text-align: center;
}

.topLabel {
    display: inline-block;
    margin: 5px 0 !important;
}