@keyframes release {
    from {
        opacity: 0;
        top: 60%;
    }
    to {
        opacity: 1;
        top: 50%
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: release 0.5s ease forwards;
}

.labelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader {
    margin-bottom: 15px;
    text-align: center;
}

.topLabel {
    display: inline-block;
    margin: 5px 0 !important;
}