.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loadBtn {
    margin: 15px 0 !important;
}