.labelsContainer {
    text-align: center;
    margin-bottom: 15px;
}

.closeBtn {
    margin: 0 15px 0 0 !important;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLabel {
    display: inline-block;
    margin: 5px 0 !important;
}

.bottomLabel {
    color: #c62828;
}